<mat-card *ngIf="genre.category" style="margin-top: 25px;" class="card">
  <div style="position: absolute; right: 1px; top: 0;">
    <button mat-icon-button (click)="roll($event)"><mat-icon>refresh</mat-icon></button>
  </div>
  <mat-card-header *ngIf="genre.category">
    <div mat-card-avatar class="example-header-image"
      [ngStyle]="{'background-image': 'url(' + getImage() + ')'}">
    </div>
    <mat-card-title style="font-size: 1.0em">{{genre.name}}</mat-card-title>
    <mat-card-subtitle style="font-size: 0.75em">{{genre.category}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
