<div #background style="position: fixed; width: 100%; height: 100%; top: 0; overflow-y:hidden;">
  <div class="pixelated background-sky" style="position: absolute; width: 100%; height: 100%; top: 0; overflow-y:hidden;"></div>
  <div class="pixelated background-clouds-bg" style="position: absolute; width: 100%; height: 100%; top: 0; overflow-y:hidden;"></div>
  <div class="pixelated background-mountains" style="position: absolute; height:80%;"></div>
  <div #cloudLonely class="pixelated background-cloud-lonely" style="position: absolute; height:100%;"></div>
  <div #clouds3 class="pixelated background-clouds3" style="position: absolute; height:100%;"></div>
  <div #clouds2 class="pixelated background-clouds2" style="position: absolute; height:100%;"></div>
  <div #clouds1 class="pixelated background-clouds1-lt" style="position: absolute; height:100%;"></div>
</div>
<div class="grid-container">
  <div class="container-fluid">
    <div>
      <h1 class="mat-display-3" style="font-weight: 400">Genre Roulette</h1>
      <h3 class="mat-subheading-2" style="font-weight: 300">...having troubles finding a genre?</h3>
    </div>
    <div>
      <a mat-flat-button color="primary" (click)="roll()">Let's Go</a>
    </div>
    <div>
      <a [href]="'./#'+saveCode">{{saveCode}}</a>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 50px; text-align: left;">
      <div fxLayout="row wrap" fxLayoutGap="8">
        <genre-card [genre]="genre" *ngFor="let genre of genres" fxFlex.lt-md="100%" fxFlex="32%" (click)="selectedGenre=genre" [ngClass]="selectedGenre==genre? 'active':''"></genre-card>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="8" *ngIf="(games)">
        <game-card [game]="game" *ngFor="let game of games" fxFlex.lt-md="100%" fxFlex="30%" (click)="selectedGame=game" [ngClass]="selectedGame==game? 'active':''"></game-card>
      </div>
    </div>
  </div>
</div>
